.socialbuttons {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  gap: 20px;
  flex-direction: row;
  margin-top: 30px;
  transition: transform 0.5s ease-in-out;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.8s;
  border-radius: 25px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.8s;
  transform: translateY(-5px);
}
/* twitter*/
.containerTwo:hover {
  background-color: #2b3137;
  transition-duration: 0.8s;
  transform: translateY(-5px);
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.8s;
  transform: translateY(-5px);
}
/* Discord*/
.containerFour:hover {
  background-color: #7289da;
  transition-duration: 0.8s;
  transform: translateY(-5px);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.8s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.8s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



