body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: rgb(255,251,238);
}

.firstsection {
	background: linear-gradient(rgb(255,243,199), rgb(255,251,238));
}

.skills-section {

	margin-left: 500px;
}

.individual-skills {
	margin-top: 100px;
	margin-left: 50px;
}

a {
	text-decoration: none;
	color: black;
}
.navbarwords {
	font-size: 1.2em;
	font-weight: 100;
	transition: font-weight 0.5s ease;
}
.navbarwords:hover {
	font-weight: 500;
}

h1 {
	font-size: 4.5em;
}

.navbar {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-evenly;
}

.mainfocus {
	display: grid;
	justify-content: center;
    padding: 200px;
    padding-bottom: 300px;
    padding-left: 200px;
    margin-right: 500px;
}

#summarytext {
	width: 400px;
	margin-top: 30px;
}

@media (max-width:1500px) {
	.mainfocus {
		display: grid;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
}