body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background: linear-gradient(rgb(255,243,199), rgb(255,251,238));
}

h2 {
	color:#009087;
}

.typewriter {
	display: inline-block;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 2.5s steps(40, end),
    blink-caret 1s step-end infinite;
}

#basictext {
	font-weight: 600;
}

.lm {
	margin-top: 70px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.mainheader {
	opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.skills-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 500px;
}

#individualskills {
	margin-left: 30px;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: black;
}
.navbarwords {
	font-size: 1.2em;
	font-weight: 700;
	transition: transform 1s ease-in-out;

}
.navbarwords:hover {
	transform: scale(1.1);
}

h1 {
	font-size: 3.5em;
	font-weight: 700;
	color:#009087;
}

.navbar {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-evenly;
}

.mainfocus {
	display: grid;
	justify-content: center;
    padding: 200px;
    padding-bottom: 300px;
    padding-left: 200px;
    margin-right: 600px;
}

#summarytext {
	width: 400px;
	margin-top: 30px;
}

.logos {
	width: 650px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 70px;
}

.links {
	color: rgb(64,64,64);
	font-weight: 700;
	transition: transform 2s ease-in-out;
}

.links:hover {
	transform: scale(1.05);
}

.right-hand-side-skills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 500px;
	margin-left: 80px;
	margin-top: 90px;

}

.giraffe {
		height: 350px;
	margin-top: 40px;
	border-radius: 10px;
}

.projects-section .giraffe {
	height: 350px;
	margin-top: 40px;
	border-radius: 10px;
	transform: translateX(100%);
	transition: transform 0.5s ease-in-out;
}

.projects-section .giraffe.visible {
	transform: translateX(0);
	transition: transform 1s ease;
}

.projects-section .giraffe.visible:hover {
	transform: scale(1.1);
}


.skillsheader {
	text-align: center;
	margin-right: 50px;
}

.projects-section {
	justify-content: center;
	margin-bottom: 500px;
}

.project {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 300px;
}

.sectionheader {
	text-align: center;
	margin-bottom: 100px;
	font-weight: 700;
	font-size: 3.5em;
}

.projectleftside {
	width: 600px;
	margin-top: 100px;
	margin-right: 50px;
}

.projectrightside {
	margin-top: 50px;
	margin-left: 50px;
}

.projectname {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;
	margin-bottom: 20px;

}

.readmore {
	margin-top: 50px;
}

.contactme {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#getintouch {
	font-size: 3.5em;
	font-weight: 700;
	text-align: center;
}

#contactmetext {
	margin: 100px 0px;
	font-weight: 600;
}




/*
About me page
*/
.mystorytext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	padding: 0px 20px;
}

.slideshow-container {
  position: relative;
}

.personalpics {
  border-radius: 25px;
  height: auto;
  max-width: 254px;
}

/* Slides */
* {
	box-sizing: content-box;
}

.mySlides {
  padding: 80px;
  text-align: center;
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}




@media (min-width:600px) {
	.mystorytext{
		margin-right: 100px;
		margin-left: 30px;
		display: flex;
		flex-direction: column;
	}
	.mystorysection {
		display: flex;
		flex-direction: row;
	}
	.img1about {
		margin-right: 50px;
	}
}
/*
For phones and tables
*/
@media (max-width:1300px) {
	.mainfocus {
		display: grid;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
	.skills-section {
		height: auto;
		width: auto;
		margin: 0;
		margin-bottom: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.right-hand-side-skills {
		margin: 0;
		flex-direction: row;
		padding: 40px;
		width: 677px;
	}
	#learnmore {
		margin-top: 50px;
	}
	.project {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.projectleftside {
		margin-right: 0px;
	}
	.projectrightside {
		margin-left: 0px;
	}
	.readmore {
		text-align: center;
	}
	.typewriter {
		animation: 
    typing 2.5s steps(40, end),
    blink-caret 1s step-end infinite;
	}
	@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
}

@media (max-width:800px) {
	.firstsection {
		margin-bottom: 50px;
	}
	h1 {
		font-size: 2.5em;
	}
	.logos {
		margin-bottom: 50px;
	}
	#learnmore {
		margin-top: 50px;
	}
	.right-hand-side-skills{
		width: 480px;
	}
	.projects-section {
		display: grid;
		align-items: center;
		justify-content: center;
	}
	.projectleftside {
		width: 400px;
	}
	.contactme {
		padding: 50px;
	}
}